.vaccination-coverage-container {
  background-color: #1c1c2b;
  width: 90%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.vaccination-coverage-heading {
  font-size: 15px;
  color: #6c757d;
  margin-left: 30px;
  align-self: flex-start;
}
